<a href="https://colab.research.google.com/github/surajkc1/LST_data_assignment2/blob/main/Assignment_2_Suraj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Land surface temperature is an important environmental parameter. It is different that air temperature and is believed to be more critical factor to assess climate change. The data used in this study is LST of 2010 and LST 0f 2020 for the 20 places. As, trend of change in LST of 2010 and LST of 2020 in the same places has been done, we will be doing paired t test for the analysis to answer the question that, the seen change in LST within 10 years is significant or not.

In [1]:
import pandas as pd #Importing pandas
import numpy as np #Importing numpy

In [2]:
pip install scipy pandas seaborn pingouin #installing scipy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Collecting pingouin
  Downloading pingouin-0.5.2.tar.gz (185 kB)
     |████████████████████████████████| 185 kB 27.8 MB/s
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (4.1.1)
Collecting statsmodels>=0.13
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 55.1 MB/s
Requirement already satisfied: scikit-learn<1.1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.0.2)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.3.0-py3-none-any.whl (6.3 kB)
Collecting outdated
  Downloading outdated-0.2.1-py3-none-any.whl (7.5 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.8.10)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from pandas_flavor>=0.2.0->pingouin) (0.20.2)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.2.0-py2.py3-none-any.whl (6.6 kB)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (0.5.2)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2022.6.15)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from xarray->pandas_flavor>=0.2.0->pingouin) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->xarray->pandas_flavor>=0.2.0->pingouin) (3.8.1)
Building wheels for collected packages: pingouin, littleutils
  Building wheel for pingouin (setup.py) ... done
  Created wheel for pingouin: filename=pingouin-0.5.2-py3-none-any.whl size=196206 sha256=6db632ff01e3c154db5319b93843a8b57fbcbcaeaf5d2ed355ee2468eca2a399
  Stored in directory: /root/.cache/pip/wheels/11/5a/63/a6d32fc26fa462c731f65480bfb98ff7bd39b8ebcb4bc6c2fe
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7048 sha256=92feeee18b0d13e126ab559ae03b8d8b93364040d8d710312f444dfff52321c1
  Stored in directory: /root/.cache/pip/wheels/d6/64/cd/32819b511a488e4993f2fab909a95330289c3f4e0f6ef4676d
Successfully built pingouin littleutils
Installing collected packages: littleutils, statsmodels, pandas-flavor, outdated, pingouin
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
Successfully installed littleutils-0.2.2 outdated-0.2.1 pandas-flavor-0.2.0 pingouin-0.5.2 statsmodels-0.13.2

In [11]:
dataset= pd.read_csv("https://raw.githubusercontent.com/surajkc1/LST_data_assignment2/main/Book3.csv") #uploading dataset from the device
df=dataset #labelling dataset

In [5]:
df.head()  #visualizing the dataset_head

   SummerLST2020celsius  Summer2010 Celsius
0              28.49753            30.99764
1              24.06225            32.95993
2              30.05037            34.32496
3              22.31212            27.03570
4              30.50989            29.76549

In [6]:
df.dtypes  #Assessing_data_types

SummerLST2020celsius    float64
Summer2010 Celsius      float64
dtype: object

In [7]:
df[['SummerLST2020celsius','Summer2010 Celsius']].head(10) #data_visualization

   SummerLST2020celsius  Summer2010 Celsius
0             28.497530            30.99764
1             24.062250            32.95993
2             30.050370            34.32496
3             22.312120            27.03570
4             30.509890            29.76549
5              8.011319            16.82081
6             31.863740            38.73806
7             23.708100            25.74734
8             31.177050            33.17833
9             19.167580            13.73615

In [8]:
df.describe()  #data_describe

       SummerLST2020celsius  Summer2010 Celsius
count             19.000000           19.000000
mean              24.955700           29.078324
std                7.442065            7.680830
min                7.443624           13.736150
25%               23.010110           26.391520
50%               27.128150           32.949920
75%               30.373390           34.047485
max               31.863740           38.738060

In [9]:
import scipy.stats as stats  #importing few commands #importing scipy commands
import math
# Importing library
import scipy.stats as stats
from scipy.stats import ttest_rel #importing_paired_t_test_command

In [12]:
from scipy.stats.mstats_basic import Ttest_relResult 
df_h= df['SummerLST2020celsius'] #labelling_Data
df_i=df['Summer2010 Celsius']
ttest_rel(df_h, df_i)     #calculating_paired_t_test

Ttest_relResult(statistic=-4.607457230940329, pvalue=0.00021863510108391555)

The test result shows the test statistic "t" is "-4.60" 0.7670 with p-value 0.0021 that means the Land surface temperature has decreased from 2010 to 2020 in the assessed 20 places and the decrement in the temperature is highly statistically significant since p-value is less than 0.05.